header {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 6px 0px;

    > div {
        width: 50%;
        height: 100%;

        &.left {
            display: flex;
            flex-direction: column;

            >span.logo {
                display: inline-block;
                height: 100%;
                width: 60px;

                > img {
                    height: 50px;
                }
            }
        }
    }
}
* {
    border: 1px solid;
}